# SMTP Hostinger
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=contatto@prestiteritalia.it
SMTP_PASS="Business2026#*"
SMTP_FROM=contatto@prestiteritalia.it
NOTIFY_EMAIL=contatto@prestiteritalia.it
